<div class="card-header">
  <ul class="nav nav-tabs card-header-tabs">
    <li class="nav-item active">
      <a class="nav-link" aria-current="true" href="/smallshop">Home</a>
    </li>
    <li class="nav-item active">
      <a href="/smallshop/store" class="nav-link">Shop</a>
    </li>
    <li class="nav-item active"><a href="/feedback" class="nav-link">Feedback</a></li>
  </ul>
</div>
